@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --primary-green: #6F7DB8;
  --bg-color: #F7F5F2;
}

@layer base {
  body {
    @apply antialiased bg-bgMain text-textPrimary font-sans leading-relaxed tracking-wide;
  }
  
  h1, h2, h3 {
    @apply font-serif text-textPrimary leading-tight tracking-normal;
  }
  
  h4, h5, h6, a, div, li {
    @apply text-textPrimary;
  }
  
  p, span {
    @apply text-textBody;
  }
}
