@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --primary-green: #223614;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-gopher), sans-serif;
    color: var(--primary-green);
  }
  
  h1, h2, h3, h4, h5, h6, p, a, span, div, li {
    color: var(--primary-green);
  }
}
